<!doctype html>
{% if site.baseurl == null %}
    {% assign linkhome = "/" %}
    {% else %}
    {% assign linkhome = site.baseurl %}
{% endif %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }}</title>

  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/pygment_trac.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
<div class="wrapper">
  <header>
    <h1><a href="{{ linkhome }}">{{ site.name }}</a></h1>
    <p>tagline</p>
    <p class="view"><a href="https://github.com/ethzero">View My GitHub Profile</a></p>


<hr><hr>
<pre>
page.url: {{ page.url }}
page.layout: {{ page.layout }}
<hr>
{% for sitepage in site.pages %}
sitepage.url: {{ sitepage.url }}
sitepage.title: {{ sitepage.title }}
sitepage.layout: {{ sitepage.layout }}
{% endfor %}
</pre>

    <nav>
    <ul>
    {% for sitepage in site.pages %}
      {% assign current = nil %}
      {% if page.url == sitepage.url %}
        {% assign current = 'current' %}
      {% endif %}

      <li class="{% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
        <a class="{{ current }}" href="{{ sitepage.url }}">{{ sitepage.title }}</a>
      </li>

    {% endfor %}
    </ul>
    </nav>

<!-- 
    <ul id="download">
      <li><a href="https://github.com/ethzero/">Download <strong>ZIP File</strong></a></li>
      <li><a href="https://github.com/ethzero/">Download <strong>TAR Ball</strong></a></li>
      <li><a href="https://github.com/ethzero/">Fork On <strong>GitHub</strong></a></li>
    </ul>
 -->

  </header>
  <section>

{{ content }}

  </section>
  <footer>
<p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a><br>
Last generation: {{ site.time }}</small></p>
  </footer>
</div>

{% include footer-js.inc %}

</body>
</html>
